################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ryhma7_Sovellusprojekti/v15/.suo
